@import "tailwindcss";
@import "./obsidian-vars.css";
@import "./tailwind-bridge.css";

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
